* {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.sortBy {
  margin-left: 71.5%;
  width: 20.2458%;
  font-size: small;
  display: block;
  z-index: 950;
}

.topLine {
  width: 81%;
  margin-left: 9.5%;
}

.articleLinks {
  text-decoration: none;
  color: black;
  margin: 0px;
  display: block;
}

.votes {
  display: flex;
}

.title {
  text-align: center;
  font-weight: 900;
  color: white;
  background-color: black;
  padding: 16px;
  font-size: 42px;
}

.articleFooter {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.articleEnd {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.topicLinkSingle {
  margin: 0px;
  color: black;
}

.topicLink {
  font-size: 13px;
  color: black;
  font-family: monospace;
  text-decoration: underline;
}

.titleLink {
  text-decoration: none;
}

.navbar {
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 72.8%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.424);
  margin-left: 4.1%;
  z-index: 1000;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
}

/* Add a yellow background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(210, 193, 0, 0.953);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 160px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 128px;
  z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  margin-left: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 0px;
}

.commentAuthor {
  font-size: 17px;
}

.commentDate {
  font-size: 13px;
}

.commentBody {
  font-size: 15px;
}

.commentsHeader {
  margin-right: 0;
}

.commentsCount {
  display: flex;
  justify-content: baseline;
}

.num {
  margin-left: 6px;
  padding-top: 6px;
}
